<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> title}}
</head>
<body>
    {{> header}}

    <h1>These are my Projects</h1>
    <ul>
        <li><a href="/projects" >Project 1</a></li>
        <li><a href="/projects" >Project 2</a></li>
        <li><a href="/projects" >Project 3</a></li>
    </ul>

    {{> footer}}
</body>
</html>